@model Tag4s.Data.User
@using Tag4s.Data
@using Tag4s.Filters
@using Tag4s.Helpers
@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as Tag4s.Filters.ViewFilter;
    //ViewBag.Title = String.Format("{0}-{1}", Html.DisplayNameTranslatedFor("", "User", "User", ref translation), controllername.TranslateString(ref translation));
    //BreadCrum.SetName(ViewBag.Title, Session);
}

<fieldset class="Tag4s-fieldset">
    <legend>@Html.DisplayNameTranslatedFor("", "User", "User", ref translation)</legend>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Prefix, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Prefix)
            </label>
        </div>
    </fieldset>
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Firstname, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Firstname)
            </label>
        </div>
    </fieldset>
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Title, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Title)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Lastname, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Lastname)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.EmailAddress, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.EmailAddress)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.UserRole, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.UserRole.Name)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.ReselerId, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.User2.Lastname)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.eId, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.eId)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Street, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Street)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.HouseNumber, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.HouseNumber)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.City, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.City)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.ZipCode, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.ZipCode)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Country, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Country.Name)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.VAT, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.VAT)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.KVK, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.KVK)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Credit, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Credit)
            </label>
        </div>
    </fieldset>
    
</fieldset>