@model Tag4s.Data.VolumDiscount
@using Tag4s.Data
@using Tag4s.Filters
@using Tag4s.Helpers
@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as Tag4s.Filters.ViewFilter;
        //ViewBag.Title = String.Format("{0}-{1}", Html.DisplayNameTranslatedFor("", "VolumDiscount", "VolumDiscount", ref translation), controllername.TranslateString(ref translation));
    //BreadCrum.SetName(ViewBag.Title, Session);
}

<fieldset class="Tag4s-fieldset">
    <legend>@Html.DisplayNameTranslatedFor("", "VolumDiscount", "VolumDiscount", ref translation)</legend>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.ContractId, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Contract.Name)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.CountFrom, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.CountFrom)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.CountTo, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.CountTo)
            </label>
        </div>
    </fieldset>
    
     <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Price, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Price)
            </label>
        </div>
    </fieldset>
    
</fieldset>