@model Tag4s.SsoService.ServiceUser
@using System.Web.Optimization
@using Tag4s.Data
@using Tag4s.Filters
@using Tag4s.Helpers;

@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as ViewFilter;
    /// <summary>
    /// Receiving the following Filter Id's
    /// - Planning*
    /// - TrainingPart
    /// </summary>
    ViewBag.Title = Html.DisplayNameTranslatedFor("", "Reset Password", "Reset Password", ref translation).ToString();
    BreadCrum.SetName(ViewBag.Title, Session);
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("PassResetForm", "Home"))
{
        <legend>@Html.DisplayNameTranslatedFor("", "User", "User", ref translation)</legend>   
        
        <fieldset class="no-margin">
        <div class="row @(Html.HasError("oPass") ? "error" : "")" title="@Html.GetErrorMessage("oPass")">
                <label>
                    @Html.DisplayNameTranslatedFor("", "Old Password", "Old Password", ref translation).ToString()
                </label>
                @Html.Password("oPass")
            </div>
        </fieldset>
        
        <fieldset class="no-margin">
        <div class="row @(Html.HasError("nPass") ? "error" : "")" title="@Html.GetErrorMessage("nPass")">
                <label>
                    @Html.DisplayNameTranslatedFor("", "New Password", "New Password", ref translation).ToString()
                </label>
                @Html.Password("nPass")
            </div>
        </fieldset>
        
        <fieldset class="no-margin">
            <div class="row">
                <label>
                    @Html.DisplayNameTranslatedFor("", "New Password Confirmation", "New Password Confirmation", ref translation).ToString()
                </label>
                @Html.Password("nPassConfirm")
            </div>
        </fieldset>

    <p>
        <input id="Submit" type="submit" value="@Html.DisplayNameTranslatedFor("", "Send", "Send", ref translation)" />
    </p>
}

<div>
    @Html.ActionLink("Terug", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}