@model Tag4s.Data.Invoice
@using Tag4s.Data
@using Tag4s.Filters
@using Tag4s.Helpers
@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as Tag4s.Filters.ViewFilter;
    //ViewBag.Title = String.Format("{0}-{1}", Html.DisplayNameTranslatedFor("", "Invoice", "Invoice", ref translation), controllername.TranslateString(ref translation));
    //BreadCrum.SetName(ViewBag.Title, Session);
}

<fieldset class="Tag4s-fieldset">
    <legend>@Html.DisplayNameTranslatedFor("", "Invoice", "Invoice", ref translation)</legend>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.User, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.User.FullName)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Date, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Date)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Amount, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Amount)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Quantity, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Quantity)
            </label>
        </div>
    </fieldset>
    
    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.VAT, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.VAT)
            </label>
        </div>
    </fieldset>

    <fieldset class="no-margin">
        <div class="row">
            <label>
                @Html.DisplayNameTranslatedFor(m => m.Number, ref translation, TranslationTypes.Entity, controllername, actionname)
            </label>
            <label class="edit-label">
                @Html.DisplayFor(model => model.Number)
            </label>
        </div>
    </fieldset>

</fieldset>